:root {
  --white: #f3eadc;
  --black: #292e65;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: var(--white);
  font-family: Days, sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
}

.div-block {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: 1.7fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.block {
  background-color: var(--white);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 35rem;
  padding: 4rem;
  display: flex;
}

.block.blue {
  background-color: var(--black);
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
}

.block.blue.release {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.block.blue._40rem {
  height: 40rem;
}

.block.white._40rem {
  flex-flow: column;
  height: 40rem;
}

.heading {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Days, sans-serif;
  font-size: 3rem;
}

.icon-embed-xsmall {
  color: var(--black);
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-top: .25rem;
}

.div-block-3 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-4 {
  height: 100%;
}

.div-block-5 {
  background-color: var(--black);
  overflow: hidden;
}

.icon-embed-xsmall-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.title-text {
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: 400;
  line-height: 1;
}

.marque-image {
  object-fit: cover;
  border-radius: 3.75rem;
  width: 14vw;
  height: 5vw;
}

.holder {
  align-items: center;
  width: 100vw;
  height: 100%;
  display: flex;
}

.marque-title-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.marque-first-part {
  grid-column-gap: 3vw;
  flex-direction: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  display: flex;
}

.marque-first-part._3rd, .marque-first-part._2ns {
  flex-direction: row;
}

.single-moving-marque-div {
  color: #fff;
  background-color: #000;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
  overflow: hidden;
}

.marque-move-div {
  flex-direction: column;
  display: flex;
}

.single-marque-div {
  border-top: .0625rem solid #d8b189;
  border-bottom: .0625rem solid #d8b189;
  height: 16vh;
  display: flex;
  position: relative;
}

.single-marque-div._2 {
  border-top-style: none;
}

.single-marque-div._3 {
  border-top-style: none;
  border-bottom-style: none;
}

.div-block-6 {
  height: 30rem;
}

.div-block-7 {
  flex-flow: column;
  display: flex;
}

.div-block-8 {
  background-color: var(--black);
}

.image {
  border-radius: .5rem;
  height: 18rem;
}

.float-title {
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-size: .5rem;
}

.float-title.blue {
  color: var(--black);
}

.button-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.button-block-52 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--white);
  color: #070708;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  padding: .5rem 1rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-block-52.alternative {
  color: #f0f0f0;
  background-color: #0e0e10;
}

.button-text-52 {
  z-index: 1;
  letter-spacing: 0;
  justify-content: flex-start;
  font-weight: 500;
  display: flex;
  position: relative;
}

.overlay-gradient-52-1 {
  filter: blur(1.25rem);
  background-image: linear-gradient(148deg, #bf3eff, #3503be);
  border-radius: 100vw;
  width: 50%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: -70%;
  left: 10%;
  right: auto;
}

.overlay-gradient-52-2 {
  background-image: linear-gradient(180deg, var(--black), #0004f5);
  filter: blur(.625rem);
  border-radius: 100vw;
  width: 50%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: -90%;
  left: auto;
  right: 0%;
}

.button-block-33 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--white);
  color: var(--white);
  border: .0625rem solid rgba(255, 255, 255, .08);
  border-radius: .75rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 3.5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-wrap-33 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--black);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.button-text-33-icon-logo {
  color: var(--black);
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  transform: rotate(0);
}

.button-text-33 {
  z-index: 1;
  color: var(--black);
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  position: relative;
}

.button-text-33-icon-arrow {
  color: var(--black);
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  transform: rotate(0);
}

.icon-embed-xxsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.div-block-9 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.div-block-10, .youtube {
  margin-bottom: auto;
}

@media screen and (max-width: 991px) {
  .div-block {
    flex-flow: column;
    display: flex;
  }

  .div-block.reversew {
    flex-flow: column-reverse wrap;
  }

  .block.white._40rem {
    height: 35rem;
  }

  .single-marque-div {
    height: 14vh;
  }

  .div-block-6 {
    height: 35rem;
  }

  .youtube {
    border-radius: .5rem;
    height: 20%;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .single-marque-div {
    height: 12vh;
  }
}

@media screen and (max-width: 479px) {
  .block.blue.release, .block.white._40rem {
    height: 30rem;
  }

  .single-marque-div {
    height: 8vh;
  }

  .div-block-6 {
    height: 30rem;
  }

  .button-text-33 {
    font-size: .875rem;
  }
}

#w-node-c6653743-c634-b11d-8af3-995c5493f8e1-f5104855, #w-node-ade3eeec-33d0-273a-f8f7-4623759411c5-f5104855 {
  justify-self: stretch;
}


@font-face {
  font-family: 'Days';
  src: url('../fonts/Days.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}